<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pincode>
            <general>
                <active>1</active>
                <checkaddtocart>0</checkaddtocart>
                <successmessage>Pincode is Available For This Product</successmessage>
                <failmessage>Pincode is Not Available For This Product</failmessage>
            </general>
        </pincode>
    </default>
</config>